############################
# General
############################
.DS_Store
Thumbs.db
.env
*.log

############################
# IDEs / Editors
############################
.idea/
*.iml
.vscode/
.eclipse/
.settings/

############################
# Java / Spring Boot
############################
backend/target/
backend/.classpath
backend/.project
backend/.factorypath
backend/.springBeans

############################
# Maven
############################
.mvn/wrapper/maven-wrapper.jar

############################
# Gradle (if used)
############################
backend/.gradle/
backend/build/

backend/docs/*
############################
# Node / React
############################
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.cache/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local

############################
# Logs
############################
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# OS files
############################
*.swp
*.swo
